body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(166, 192, 138);
  padding: 20px;
}

h1 {
  text-align: center;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #fff895;
  color: rgb(66, 112, 36);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
